/* last update: 2025-10-10 by HeinerEF for Kirby 5.x */
@charset "UTF-8";

code[class*=language-],
pre[class*=language-]
{
    color:#ccc;
    background:none;
    font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
    font-size:1em;
    text-align:left;
    white-space:pre;
    word-spacing:normal;
    word-break:normal;
    word-wrap:normal;
    line-height:1.5;
    -moz-tab-size:4;
    -o-tab-size:4;
    tab-size:4;
    -webkit-hyphens:none;
    -moz-hyphens:none;
    -ms-hyphens:none;
    hyphens:none
}
/* Code blocks */
pre[class*=language-]
{
    padding:1em;
    margin:0.5em 0;
    overflow:auto
}
:not(pre)>code[class*=language-],
pre[class*=language-]
{
    background:#2d2d2d
}
/* Inline code */
:not(pre)>code[class*=language-]
{
    padding:0.1em;
    border-radius:0.3em;
    white-space:normal
}
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata
{
    color:#999
}
.token.punctuation
{
    color:#ccc
}
.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted
{
    color:#e2777a
}
.token.function-name
{
    color:#6196cc
}
.token.boolean,
.token.number,
.token.function
{
    color:#f08d49
}
.token.property,
.token.class-name,
.token.constant,
.token.symbol
{
    color:#f8c555
}
.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin
{
    color:#cc99cd
}
.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable
{
    color:#7ec699
}
.token.operator,
.token.entity,
.token.url
{
    color:#67cdcc
}
.token.important,
.token.bold
{
    font-weight:700
}
.token.italic
{
    font-style:italic
}
.token.entity
{
    cursor:help
}
.token.inserted
{
    color:green
}
.token.kirbytag-bracket
{
    color:#d16464
}
.token.kirbytag-name,
.token.kirbytag-attr
{
    color:#de935f
}
pre[class*=language-]
{
    margin-bottom:1.5rem;
    font-size:0.75rem
}
code[class*="language-yml"],
pre[class*="language-yml"],
code[class*="language-kirbytext"],
pre[class*="language-kirbytext"] {
    color:#000;
    background:#FFF;
}
code[class*="language-"],
pre[class*="language-"] {
    font-size:1rem
}
/* ************************** */
.k-panel-view--helpsection .k-panel-main {
    padding:0;
}
.k-panel-view--helpsection .k-topbar-breadcrumb ol {
    margin-left:4rem;
}
.helpsection
{
    display:flex;
    margin-top:2.5rem;
    /* only to test:
    background:var(--color-aqua-200);
    /* */
}
.helpsection__panel
{
    flex-grow:1;
    border-right:1px solid #ddd;
    overflow:hidden;
    flex-shrink:0;
    display:flex;
    flex-direction:column
}
@media only screen and (min-width:768px)
{
    .helpsection
    {
        position:relative;
        right:0;
        bottom:0;
        top:0;
        left:0;
    }
    .helpsection__panel
    {
        flex-basis:11rem;
        flex-grow:0;
    }
}
.helpsection__sections
{
    font-family:SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace
}
.helpsection__sections h2
{
    font-size:0.875rem;
    margin-bottom:0.25rem;
    padding:0 1.5rem;
    line-height:1.5
}
.helpsection__sections section
{
    padding:0.75rem 0
}
.helpsection__sections a
{
    cursor:pointer;
    font-size:0.75rem;
    display:block;
    padding:0.25rem 1.5rem;
    width:100%;
    line-height: 1.5;
}
.helpsection__entries
{
    flex-basis:20%;
    min-width:16rem
}
.helpsection__entries li
{
    position:relative;
    font-size:0.75rem;
    border-bottom:1px solid rgba(0,0,0,0.1)
}
.helpsection__entries li a
{
    cursor:pointer;
    display:block;
    padding:0.75rem 1.5rem;
    outline:0
}
.helpsection__entries li a strong
{
    font-family:SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    font-weight:500;
    display:block;
    font-size:0.8rem
}
.helpsection__entries li a small
{
    color:#777;
    font-size:0.75rem;
    margin-top:5px;
    display:block
}
.helpsection__entries li a[aria-current],
.helpsection__sections li a[aria-current]
{
    background:light-dark(#FFF, var(--color-gray-850));
    padding:0.75rem 1.5rem;
}

.helpsection__scrollarea
{
    flex-grow:1;
    overflow-x:auto;
    -webkit-overflow-scrolling:touch
}
.helpsection__main
{
    flex-grow:1;
    flex-shrink:1;
    min-width:20rem
}

.helpsection__main a
{
    color:#008dce;
    text-decoration:none
}
.helpsection__main a:hover
{
    color:#006a9b
}
.helpsection__main h1,
.helpsection__main h2,
.helpsection__main h3,
.helpsection__main h4,
.helpsection__main h5,
.helpsection__main h6,
.helpsection__main figure,
.helpsection__main table
{
    margin-bottom:1rem
}
.helpsection__main h2,
.helpsection__main h3,
.helpsection__main h4,
.helpsection__main h5,
.helpsection__main h6
{
    margin-top:2rem
}
.helpsection__main .intro
{
    font-size:1.5rem;
    max-width:45rem;
    font-weight:var(--font-bold, 600);
}
.helpsection__main img
{
    max-width:100%
}
.helpsection__main p,
.helpsection__main ul,
.helpsection__main ol
{
    max-width:50em;
    margin-bottom:0.75em;
    -webkit-hyphens:auto;
       -moz-hyphens:auto;
        -ms-hyphens:auto;
            hyphens:auto;
}
.helpsection__header
{
    height:2.5rem;
    flex-shrink:0;
    display:flex;
    align-items:center;
    padding:0 1.5rem;
    border-bottom:1px solid #ddd;
    justify-content:space-between
}
.helpsection__header button
{
    font:inherit;
    display:flex;
    align-items:center;
    font-size:0.875rem;
    background:none;
    border:0;
    cursor:pointer
}
.helpsection__header button svg
{
    margin-right:0.5rem
}
.helpsection__main__inner
{
    padding:0.5rem 1.5rem;
}
main.k-panel-view.k-panel-view--helpsection div.helpsection__main__inner h1 {
    font-size:36px;
}
.k-text p code {
    font-size: 14px;
    color:blue;
}
.helpsection__main a:hover {
    color:green;
    text-decoration:underline 1px solid green;
}
nav.helpsection__sections {
    flex-basis:16rem; /* 16rem; // may be: 20rem; */
}
nav.helpsection__entries {
    flex-basis:16rem;
}
.helpsection__main__inner blockquote {
    color:black;
    background:#ffffc6;
    padding:1em;
    padding-bottom:0.2em;
}
.helpsection__main__inner table,
.helpsection__main__inner table td,
.helpsection__main__inner table th {
    border-width:2px;
    border-style:dotted;
    vertical-align:top;
    padding:10px;
    border-collapse:collapse;
    color:black;
    background-color:#ffffc6;
}
.helpsection__main__inner table th {
    font-weight:700; /* var(--font-bold, 600); */
}
.helpsection__main__inner table p {
    margin-bottom:0px !important;
}
.helpsection__main h1,
.helpsection__main .intro {
    line-height:1.2em;
}
.helpsection__main .k-text blockquote {
    font-size:var(--text-font-size);
    border-inline-start:0px;
}
.helpsection__main :where(table) {
    width:inherit;
}
@media print
{
    .helpsection__sections,
    .helpsection__entries
    { /* don't print helpsection-menues */
        display:none;
    }
}
